body{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.top-10{
  margin-top: 10%;
}


/*Preloader Css*/
/*Boxes Bouncing Css*/

.image-up {
      animation: bounce-up 1s infinite alternate;
      -webkit-animation: bounce-up 1s infinite alternate;
    }
    @keyframes bounce-up {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-55px);
      }
    }
    @-webkit-keyframes image-up {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-55px);
      }
    }

.image-down {
      animation: bounce-down 1s infinite alternate;
      -webkit-animation: bounce-down 1s infinite alternate;
    }
    @keyframes bounce-down {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(55px);
      }
    }
    @-webkit-keyframes image-down {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(55px);
      }
    }

/*Prealoader Line Css*/

.linePreloader{
    height:4px;
    background:linear-gradient(to right, #FFA31A,rgb(255, 154, 1));
    border-radius:4px;
    background-size:20%;
    background-repeat:repeat-y;
    background-position:-25% 0;
    animation:scroll 1.2s ease-in-out infinite;
  }
  
  @keyframes scroll{
    50%{background-size:80%}
    100%{background-position:125% 0;}
  }

